.yellow-text {
    color: yellow;
}

h1 {
    font-family: "Sofia", serif;
}

.carousel-item img {
    margin: auto;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
